.input-wrapper {
  height: 100vh;

  background: #070b14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1f5f9;
  font-family: "Inter", sans-serif;
}

.drop-zone {
    position: absolute;
    top: 35%;
  width: 400px;
  height: 350px;
  border: 2px dashed #3b82f6;
  border-radius: 16px;
  background: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  text-align: center;

  &:hover {
    background: #273449;
  }

  p {
    margin: 6px 0;
  }
}

.file-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background: #2563eb;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;

  &:hover {
    background: #1e40af;
  }
}

.file-name {
   
  margin-top: 10px;
  font-size: 14px;
  color: #22c55e;
}

.upload-btn {
     position: absolute;
     bottom: 20%;
  margin-top: 20px;
  padding: 10px 20px;
  background: #16a34a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.3s;

  &:hover {
    background: #15803d;
  }
}

.status {
  margin-top: 15px;
  font-size: 14px;
  color: #facc15;
}
